@charset "utf-8";
/* CSS Document */
body{overflow-x:hidden;}
body,h1,h3,h4,h2,h5,h6,ul,ol,p,fieldset,dd,dl,input,textarea,option,hr,td{margin:0;padding:0;}
a{text-decoration:none; color:#333;}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none; display:block;}
a,input{outline:none;}
body{font:14px/1em "微软雅黑"; color:#666;}
.clear:after{content:"."; display:block; clear:both;height:0; visibility:hidden;}
.clear{zoom:1;}

.border0{border:none;}



/*--head--*/
#head{width:100%;height:56px;background:#ffd100;margin-bottom:20px;}
.head-banner{width:1130px;height:56px;/*background:#F0C;*/margin:auto;}
.head-img1{width:120px;height:20px;padding-top:18px;float:left;}

.head-ul1{width:700px;height:56px;float:left;margin-left:152px;}
.head-ul1  li{width:70px;height:34px;float:left;padding-top:22px;text-align:center;}
.head-img2,.head-img3{margin:auto;}
.head-ul1  li:hover{color:#ffd100;background:#000;}

.head-ul2{width:120px;height:56px;float:right;}
.head-ul2-a1{display:inline-block;width:49px;height:12px;margin-left:20px;border-right:1px solid #000;float:left; margin-top:22px;margin-bottom:22px;}
.head-ul2-a2{display:inline-block;width:28px;height:12px;margin-left:20px; float:left;margin-top:22px;margin-bottom:22px;}

/*--nav1--*/
#nav1{width:100%;height:300px;background:url(images/index_03.jpg) center no-repeat;margin-bottom:20px;}
.nav1-banner{width:1130px;height:300px;margin:auto;position: relative;overflow: hidden;}
/* #imgList{width:1130px;height:300px;overflow: hidden;} */
#imgList li{position: absolute}
#imgList li img{width:1130px;height:300px;}
/*--nav2--*/
#nav2{width:100%;height:170px;
    margin-bottom:44px;}
.nav2-banner{width:1130px;height:170px;margin:auto;}
.nav2-banner ul{width:1130px;height:170px;}
.nav2-banner ul li{width:210px;height:170px;float:left;}
.nav2-banner ul .nav2-banner-li{margin-right:20px; }

.nav2-banner ul li img{width:210px;height:170px;}

/*--nav3--*/
#nav3{width:100%;height:56px;/*background:#C96;*/}
.nav3-banner{width:1130px;height:56px;/*background: #3CC;*/margin:auto;}
.nav3-img1{width:160px;  height:56px;float:right;}
.nav3-banner ul{float:left;width:970px;}
/*.nav3-banner ul .nav3-li1{width:64px;height:54px;padding:0 30px;font-size:16px;line-height:16px;float:left;border-bottom:2px solid #000;color:#000}*/
.nav3-banner ul li{width:64px;height:56px;padding:0 30px;font-size:16px;line-height:56px;float:left;}
.nav3-li1{margin-left:370px;}
.nav3-li1 a{display:inline-block;width:64px;height:54px;border-bottom:2px solid #000;}
.nav3-li2 a{display:inline-block;width:64px;height:54px;color:#666;}
.nav3-li2 a:hover{border-bottom:2px solid #000;color:#000;}


/*--news--*/
#news1{width:100%;height:310px;padding-top:20px;background:#f4f4f4;	}
.news1-banner{width:1130px;height:310px;margin:auto;/*background:#CCC;*/}
.news1-banner dl{background:#FFF;}
.news1-dl1{width:210px;height:310px;margin-right:20px;float:left;}
.news1-dl2{width:210px;height:310px;float:left;}
#news1 .news1-banner dl dt img{width:210px;height:158px;}
.news1-p1{font-size:16px;height:20px;line-height:20px;margin-bottom:1px;margin-left:20px;margin-top:15px;color:#000;}
.news1-p2{font-size:12px;height:18px;line-height:18px;margin-bottom:20px;margin-left:20px;color:#CCC;}
.news1-p3{height:18px;line-height:18px;margin-left:20px;font-size:12px;margin-bottom:14px;}
.news1-span1{background:url(images1/sprice-icon.png) left -34px no-repeat;width:43px;height:14px;padding-left:14px;margin-right:20px;color:#999;}
.news1-span2{background:url(images1/sprice-icon.png) left -15px no-repeat;width:29px;height:14px;padding-left:14px;margin-right:20px;color:#999;}
.news1-span3{background:url(images1/sprice-icon.png) left -34px no-repeat;width:36px;height:14px;padding-left:14px;margin-right:20px;color:#999;}

.news1-dl1-bottom{width:210px;height:50px;border-top:1px solid #CCC;}
.news1-dl1-bottom span{float:left;margin-top:20px;margin-left:20px;}
.news1-dl1-bottom .news1-span4{margin-top:13px;}
.news1-dl1-bottom .news1-span6{float:right;margin-right:15px;}
.news1-span4 img{width:25px;height:25px;}
.news1-span5{font-size:12px;color:#000;}
.news1-span6{font-size:12px;color:#999;}




/*--bottom1--*/
#bottom1{width:100%;height:100px;background:#f4f4f4;}
.bottom1-banner{width:1130px;height:100px;margin:auto;/*background:#C6C;*/}
.bottom1-banner ul {width:495px;margin:auto;padding-top:37px;}
.bottom1-banner ul  li{width:40px;height:40px;background:#FFF;float:left;margin-right:5px;text-align:center;line-height:40px;}
.bottom1-banner ul .bottom1-li1{background:#ffd100;}
.bottom1-li2{margin-right:0;}
.bottom1-banner ul  li:hover{background:#ffd100;}


/*--title2--*/
#title2{width:100%;height:100px;background:#f4f4f4;}
.title2-banner{width:1130px;height:100px;background:url(images/2_03.jpg) center no-repeat;margin:auto;}


.title2-news{width:100%;height:36px;background:#f4f4f4;}
.title2-news-banner{width:1130px;height:36px;margin:auto;}
.p1{font-size:16px;padding-top:20px;color:#999;height:36px;}

.news-bottom{height:350px;padding-bottom:40px;}


/*--bottom-last--*/
.bottom-last{width:100%;height:130px;background:#282828;}
.bottom-last-banner{width:1130px;height:129px;margin:auto;border-bottom:1px solid #666;}
.bottom-last2{width:100%;height:100px;background:#282828;}
.bottom-last2-banner{width:1130px;height:100px;margin:auto;}

.bottom-last-banner .bottom-last-ul1 li a{font-size:16px;color:#999;float:left;margin-right:30px;text-align:center;height:100px;line-height:100px;}

.bottom-last-banner .bottom-last-ul2 {float:right;width:120px;height:100px;margin-top:40px;}
.bottom-last-banner .bottom-last-ul2 li{width:20px;height:16px;float:left;margin-left:40px;}

.bottom-last2-banner ul li{padding-right:20px;float:left;border-right:1px solid #999;margin-top:20px;}
.bottom-last2-banner ul .last-li{margin-left:20px;}
.bottom-last2-banner ul li a{color:#999;}
.last-span{float:right;margin-top:30px;}